/* ===============  SIGNUP FORM CSS  =================== */

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #4a4e69;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #2A2638;
    height: 600px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}

.signup-page  .left-panel {
    margin-left: 10px;
}

.signup-page .left-panel img {
    border-radius: 15px;
    height: 35rem;
    width: 30rem;
}

.signup-page .right-panel {
    height: 563px;
    width: 450px;
    margin-right: 10px;
    color: aliceblue;
    padding: 12px;
}

.signup-page .right-panel h1 {
    padding: 7px 0 20px 12px;
    font-size: 38px;
}

.signup-page .right-panel .para {
    margin: 0 0 25px 12px;
}

.signup-page .right-panel .para a {
    color: #a63eed;
    ;
}

.signup-page .name {
    display: flex;
    gap: 12px;
    margin: 17px 56px 0 0;
}


.signup-page input {
    color: #e9ecef;
    border-radius: 12px;
    border: 2px solid #4a4e69;
    outline: none;
    padding: 13px;
    width: 100%;
    margin: 4px 0 10px 12px;
    background-color: #2A2638;
}

.signup-page ::placeholder {
    color: #e9ecef;
}

.signup-page :focus {
    border-color: #9d4edd;
}

.signup-page .right-panel .email {
    padding-right: 65px;
}

.signup-page .right-panel .password {
    padding-right: 65px;
}


.signup-page .password {
    position: relative;
}

.signup-page .password i {
    position: absolute;
    top: 42%;
    right: 80px;
    transform: translateY(-50%);
    cursor: pointer;

}

.signup-page .password input {
    width: 100%;
    padding-right: 48px;
}


.signup-page #passwordStrength {
    font-size: 0.7rem;
    margin: 0 0 2px 12px;
}

.signup-page .terms-and-conditions {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    margin-top: 8px;
}

.signup-page .terms-and-conditions input {
    width: 30px;
    height: 16px;
}

.signup-page .terms-and-conditions a {
    color: #a63eed;
}

.signup-page .btn button {
    font-weight: 400;
    padding: 14px;
    width: 85%;
    color: #e9ecef;
    margin: 14px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background-color: #7b2cbf;
}

.signup-page .btn button:hover {
    background: #9d4edd;
}

.signup-page .or-para {
    text-align: center;
    margin-right: 32px;
}

.signup-page .social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.signup-page .social-btn img {
    width: 18px;
    height: 15px;
}

.signup-page .social-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #4a4e69;
    border-radius: 12px;
    width: 39%;
    margin-right: 32px;
    gap: 8px;
    cursor: pointer;
    background: transparent;
    color: #e9ecef;
}


/* ==================  CSS Used in Java Script ===================  */


.social-btn button:hover {
    background: #3a364a;
}

.signup-page input.valid {
    border: 2px solid green;
}

.signup-page input.invalid {
    border: 2px solid red;
}

.weak{
    color: red;
}

.medium{
    color: orange;
}

.strong{
    color: green;
}

#toast {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 200px;
    padding: 7px;
    font-size: 0.8rem;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    background-color: #2ecc71;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.3s ease;
    z-index: 1000;
}

#toast.show{
    opacity: 1;
    transform: translateY(0);
}

#toast.error{
    background-color: red;
}


/* ============== LOGIN FORM CSS ================== */

.login-page .top-container {
    min-height: 575px;
    height: auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0077b6;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.login-page .left-panel {
    height: 92%;
    width: 42%;
    padding: 243px;
    background-image: url("../assets/images/Mt.Everest.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}


.login-page .right-panel {
    height: 92%;
    width: 42%;
}

.login-page .right-panel h1 {
    font-size: 3rem;
    margin: 63px 0 12px 0;
    padding-left: 26px;
    font-weight: 500;
    color: white;
}

.login-page .right-panel h3 {
    font-size: 1.05rem;
    font-family: monospace;
    font-weight: 500;
    margin-left: 47px;
    color: white;
}

.login-page .email input {
    padding: 12px;
    margin: 43px 0 9px 42px;
    width: 80%;
    border: 2px solid #4a4e69;
    border-radius: 12px;
    outline: none;
    background-color: #2A2638;
    color: white;

}


.login-page .email input:focus,
.login-page .password input:focus  {
    border: 2px solid #9d4edd;
}

.login-page .password {
    position: relative;
}

.login-page .password input {
    padding: 12px 32px 12px 12px;
    margin: 6px 0 11px 42px;
    width: 80%;
    border: 2px solid #4a4e69;
    background-color: #2A2638;
    border-radius: 12px;
    outline: none;
    color: #e9ecef;
}

.login-page input::placeholder {
    color: #e9ecef;
}

.login-page .password i {
    position: absolute;
    top: 48%;
    right: 14%;
    transform: translateY(-50%);
    cursor: pointer;
}

.login-page .togglePassword{
    color: white;
}

.login-page .remember-forgotPass {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
    color: #e9ecef;
}

.login-page .forgot-password a{
    color: #a63eed;
}

.login-page .remember input {
    margin: 0 6px 0 4px;
    height: 17px;
    width: 17px;
}

.login-page button {
    color: antiquewhite;
    outline: none;
    border: none;
    border-radius: 12px;
    background: #03045e;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.5)
}

.login-page button:focus{
    border: 1px solid white;
}

.login-page button:hover{
    background-color: #232566;
}


.login-page .login-btn {
    margin: 20px 0 2px 42px;
    padding: 12px;
    width: 80%;
}

.login-page .google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 12px 42px;
    background: transparent;
    gap: 10px;
    padding: 6px 20px;
    width: 80%;
    border: 1px solid #2A2638;
}

.login-page .google-btn img {
    height: 30px;
    width: 25px;
}

.login-page .signup-redirect {
    text-align: center;
    margin-top: 18px;
    font-size: 0.9rem;
}

.login-page .signup-redirect a {
    color:#a63eed;
    text-decoration: none;
}

.login-page .signup-redirect p{
    color: #e9ecef;
}
